h1 {
    text-align: center;
}

.enter-info {
    /* background-color: blue; */
    width: 50%;
}

.results {
    /* background-color: pink; */
    width: 50%;
}

.flex-contain {
    display: flex;
    width: 85%;
    margin: auto;
}